# Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Environment files
*.env
*.log

# System files
.DS_Store
Thumbs.db

# IDE configs
.vscode/
.idea/

# Build artifacts (EXE, dist)
/build/
/dist/
*.spec

# Output data
/output/
